[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torch-geometric-temporal = "*"
pandas = "*"
networkx = "*"
dgl = "*"
ray = {extras = ["tune"], version = "*"}

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
